/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

.form_input {
    width: 240px !important;
  }

}

.save_btn {
      float: right;
}

.form_input {
   width: 540px !important;
}

#button_grp {
  position: absolute;
    top: 25vh;
    left: 25vw;
}

#movie {
    
    height: 80px;
    width: 140px;
    background: rgba(244, 66, 92, 1);
    transition: background 2s;
    /*background: linear-gradient(45deg, red, blue);*/
}
#movie:focus {
   transition: background 2s;
   background: rgba(71, 216, 81, 0.7);
   /*background: linear-gradient(135deg, orange, orange 60%, cyan);*/
}
/*#myModal {
    position: absolute;
    margin: 0px 25% 0px 0;
    right: 0;
    width: 50%;
    z-index: 200;
}

#overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}*/